<div class="col-sm-10 col-lg-10 col-md-10 col-10">
  <div class="row">
    <div class="step col-md-4 col-sm-8 offset-sm-2 offset-md-1 offset-lg-0">
      <h1 class="opacity-19 ml-5">Step 2</h1>
    </div>
  </div>
      <div class="row tab animated slideInLeft">
    <div class="col-lg-8 col-sm-10 offset-sm-2 offset-lg-0">
      <h4 style="color: white">Understanding trading </h4>
    </div>
    <div class="offset-md-3 col-lg-4 offset-lg-2 col-sm-10 offset-sm-2 col-md-9">
      <p class="">Chapter 2</p>
    </div>
       
      </div>
      <div class="row pb-5">
        <div class="col-md-2 animated fadeInDownBig col-sm-3 offset-sm-0 col-4 offset-1 col-lg-1 offset-lg-0"> </div>
        <div class="col-md-8 col-12 animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-lg-7 col-xl-5">
          <h3>How Much Does Forex Trading Cost? </h3>
          <p> Forex trading can be undertaken without a lot of capital. Minimum deposits that brokers allow clients to open an account with can be as little as $100 USD. This does not mean it’s wise to deposit a very small amount of money. It is always best to deposit as much as you feel comfortable with. This will give you more trading power and more money to utilize in managing your trades. Pip Roomz suggests to fund the broker with a minimun of 500-1k USD. </p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-2 animated fadeInDownBig col-sm-3 offset-sm-0 col-4 offset-1 col-lg-1 offset-lg-0"> </div>
        <div class="col-md-8 col-12 animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-lg-7 col-xl-5">
          <h3>What is a Broker and How to Fund One?</h3>
          <p>A Forex broker is an entity that allows you to set up an account with an initial deposit and trade on the Forex market. Many Forex brokers accept credit and debit deposits, and also support various payment processors. <span style="color:#FFA700">In step 4 we will help you Fund a trusted broker.</span>so you can start trading with Pip Roomz!</p>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-md-2 animated fadeInDownBig col-sm-3 offset-sm-0 col-4 offset-1 col-lg-1 offset-lg-0"> </div>
        <div class="col-md-8 col-12 animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-lg-7 col-xl-5">
          <h3 class="text-green">What is the potential income i can make from trading? </h3>
          <p>There is enormous potential for income in Forex trading– as anyone with insight into the market is aware, with less than 20 pips per day you can make more than $1000 with ease. It really all depends on your account size, <strong>trading skills habits &amp; patencie.</strong> </p>
        </div>
      </div>
  <div class="row pt-2">
     <div class="col-md-2 animated fadeInDownBig offset-lg-1 col-sm-3 offset-sm-0 col-4 offset-1 col-lg-1"> </div>
    <div class="col-md-8 col-12 mian-actions-bottom animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-lg-7 col-xl-5">
    <button class="btn btn-primary trade">Fund Broker</button>
      <button class="btn btn-primary trade">Fund Broker</button>
    </div>
  </div>
  
    </div>