<div class="actions animated fadeInRightBig col-sm-1 col-2 col-md-1 col-xl-1 col-lg-1 offset-md-1">
  <div class="row">
<div class="col-md-12">
 <img class="right-icon notebook" src="/assets/img/Image 19.png"  alt="">
</div>

</div>
<div class="row">
<div class="col-md-12">
 <a href="step2.html"><img class="canhide arrow" src="/assets/img/arrow.png" alt=""></a>
</div>

</div>
<div class="row canide">
   <div class="col-md-12 col-1">
     <button class="btn btn-primary forex">FOREX</button>
   </div>
 </div>
 <div class="row canide">
   <div class="col-md-12 col-1">
     <button class="btn btn-primary commodities">Commodities</button>
   </div>
 </div>
 <div class="row canide">
   <div class="col-md-12 col-1 col-lg-12">
     <button class="btn btn-primary crypto">Crypto</button>
   </div>
 </div>
</div>
