<div class="row">
  <div class="col-sm-12 logo1 animated bounceInDown col-md-12 col-lg-1">
    <div><a href="/"><img class="logo" src="/assets/img/logo-white.png" alt="logo"> </a></div>
  </div>
  <div class="col-sm-12 main-actions animated fadeInDownBig col-md-12 col-lg-11">
    <a href="https://t.me/joinchat/EIdD2w-4TD3ikEs46dsS_g" target="_blank" class="btn btn-primary chat">Chat Live</a>
    <a href="http://t.lqdfx.com/?t=JE5xpB" target="_blank" class="btn btn-primary trade">Trade now</a>
    <a href="mailto:info@piproomz.com" target="_top" class="btn btn-primary webinar">Book a Webinar</a>
  </div>
</div>
