<div class="offset-md-1 main-content col-md-11 col-sm-12">
  <div class="row">
    <div class="col-sm-10 col-lg-10 col-md-10 col-10">
      <div class="row">
        <div class="step col-md-4 col-sm-8 offset-sm-2 offset-md-1 offset-lg-0">
          <h1 class="opacity-19 ml-5">Step 4</h1>
        </div>
      </div>
      <div class="row tab animated slideInLeft">
        <div class="col-lg-8 col-sm-10 offset-sm-2 offset-lg-0">
          <h4 style="color: white">Pip Roomz Pricing </h4>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-2 animated fadeInDownBig col-sm-3 offset-sm-0 col-4 offset-1 col-lg-1 offset-lg-0"> </div>
        <div class="col-md-8 col-12 animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-lg-7 col-xl-5">
          <p>At the moment Pip Roomz is only offering signal service, Come join and start Profiting on the markets daily! </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 animated fadeInDownBig col-sm-3 offset-sm-0 col-4 offset-1 col-lg-1 offset-lg-0"> </div>
        <div class="col-md-4 col-12 animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-xl-5 col-lg-11">
          <div class="card mb-5 forex-card">
            <div class="card-body">
              <h5 class="card-title">Forex Pack<img src="/assets/img/Union 1.png" alt=""></h5>
              <h2>$120/mo</h2>
              <hr>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-spinner fa-spin"></i>Daily Signals</li><hr>
                <li><i class="fa-li fa fa-spinner fa-spin"></i>Real Time Trading Chat</li><hr>
                <li><i class="fa-li fa fa-spinner fa-spin"></i>Live Weekly Webminars</li><hr>
              </ul>
              <p>Minimum of 300+ pip Per Month!</p>
              <a href="#" class="btn btn-primary subscribe">Subscribe</a>
              <a href="#" class="btn btn-primary trial btn-lg">Send Me Trial</a>
            </div>
          </div>
        </div>
    
        <div class="col-md-4 col-12 animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-xl-5 col-lg-11">
          <div class="card crypto-card mb-5">
            <div class="card-body">
              <h5 class="card-title">Crypto Pack<img src="/assets/img/Union 1.png" alt=""></h5>
              <h2>$89/mo</h2>
              <hr>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-spinner fa-spin"></i>1 0n 1 Weekly Webinars</li><hr>
                <li><i class="fa-li fa fa-spinner fa-spin"></i>Weekly Alerts  </li><hr>
                <li><i class="fa-li fa fa-spinner fa-spin"></i>News Updates</li><hr>
                <li><i class="fa-li fa fa-spinner fa-spin"></i>Convert FX Profits To BTC </li><hr>
              </ul>
              <a href="#" class="btn btn-primary subscribe">Subscribe</a>
              <a href="#" class="btn btn-primary fund-platform btn-lg">Fund BTC Platform</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="actions animated fadeInRightBig col-sm-1 col-2 col-md-1 col-xl-1 col-lg-1 offset-md-1">
      <div class="row">
        <div class="col-md-12"> <img class="right-icon notebook" src="/assets/img/Image4.png"  alt=""> </div>
      </div>
      <div class="row">
        <div class="col-md-12"> <a href="step5.html"><img class="canhide arrow" src="/assets/img/arrow.png" alt=""></a> </div>
      </div>
      <div class="row canide">
        <div class="col-md-12 col-1">
          <button class="btn btn-primary forex">FOREX</button>
        </div>
      </div>
      <div class="row canide">
        <div class="col-md-12 col-1">
          <button class="btn btn-primary commodities">Commodities</button>
        </div>
      </div>
      <div class="row canide">
        <div class="col-md-12 col-1 col-lg-12">
          <button class="btn btn-primary crypto">Crypto</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fadeInUpBig" id="triangle-bottomright">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="row">
        <div class=" col-md-2 offset-md-4 col-sm-3 offset-sm-0 col-12 offset-lg-5 col-lg-2 col-xl-1 offset-xl-7"> <img class="stripe" src="/assets/img/Image 23.png" alt=""> </div>
        <div class="col-md-5 col-sm-9 col-12 col-lg-4 col-xl-3" style="padding: 0">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-12 col-xl-6 col-lg-5" style="padding: 0">
              <h3 class="address">Pip Roomz Ltd. <br>
                Victoria, V8X-S83 <br>
                British Columbia</h3>
            </div>
            <div class="col-md-6 social follow col-sm-6 col-12 offset-xl-0 col-xl-6 col-lg-7" style="padding: 0">
              <h3 style="text-align: right">Follow Us:</h3>
              <a href=""><img src="/assets/img/Image 4.png" alt="" srcset=""></a> <a href=""><img src="/assets/img/Image 5.png" alt="" srcset=""></a> <a href=""><img src="/assets/img/Image 6.png" alt="" srcset=""></a> </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12" style="padding: 0">
              <h3 class="rights">All Right Reserved by Pip Roomz Ltd.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
