<div class="row mt-100">
  <div class="col-10">
  <div class="row">
    <div class="step col-md-4 col-sm-8">
      <h1 class="opacity-19">Step 1</h1>
      </div>
  </div>
      <div class="row tab animated slideInLeft">
    <div class="col-lg-8 col-sm-10">
      <h3 class="">Welcome To Pip Roomz </h3>  
    </div>
    <div class="col-lg-8 col-sm-10 col-md-9">
      <p class="">Chapter 1</p>
    </div>
       
      </div>
      <div class="row pb-5 ">
        <div class="col-md-8 col-12 animated slideInRight col-sm-9 col-lg-7 col-xl-5">
            <p> <br>
              Trading Forex Commodities 
              & Crypto Currencies! 
              <br><br>              
              At Pip Roomz, we welcome traders of all levels, 
              from absolutely zero experience, to seasoned
              and successful traders. After all, everyone has
              to start somewhere! We take into consideration 
              that up to 35% of our members are beginner traders,
              who may get a little overwhelmed when the trading 
              journey begins. With this in mind, we’ve created 
              step-by- step guides to introduce you to the very
              basics of trading, so you can get started with 
              confidence. Markets Pip Roomz Trades:
               <br> <br>
              Forex, Commodities and (BTC/ETH/XRP).
              <br> <br>
              Click the Errow to the right to continue</p>
        </div>
      </div>
      
    </div>
    <div class="actions  col-2">
       <div class="row">
    <div class="col-md-12">
      <img class="right-icon notebook" src="/assets/img/Image 19.png"  alt="">	
    </div>
  
  </div>		
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/step1/chapter2']"><img class="canhide arrow" src="/assets/img/arrow.png" alt=""></a>
    </div>

  </div>
   <div class="row canide">
        <div class="col-md-12 col-1" style="margin: 0; padding: 0">
          <button class="btn btn-primary forex">FOREX</button>
        </div>
      </div>
      <div class="row canide">
        <div class="col-md-12 col-1"  style="margin: 0; padding: 0">
          <button class="btn btn-primary commodities">Commodities</button>
        </div>
      </div>
      <div class="row canide">
        <div class="col-md-12 col-1 col-lg-12"  style="margin: 0; padding: 0">
          <button class="btn btn-primary crypto">Crypto</button>
        </div>
      </div>
    </div>
  </div>
