<div class="row mt-100 mb-5">
    <div class="col-sm-10 col-lg-10 col-md-10 col-10">
  <div class="row">
    <div class="step col-md-4 col-sm-8">
      <h1 class="opacity-19">Step 2</h1>
    </div>
  </div>
      <div class="row tab animated slideInLeft margin-left-4">
    <div class="col-10">
      <h4 style="color: white">Understanding trading </h4>
    </div>
    <div class="col-lg-4 col-md-9">
      <p style="color: #00FF89">Chapter 1</p>
    </div>
       
      </div>
      <div class="row pb-5 margin-left-4">
        <div class="col-md-8 col-12 animated slideInRight col-sm-9 col-lg-7 col-xl-5">
          <h3 style=" font-size: 1.6em; margin-bottom: 5px; color: #00FF89">What is Forex?</h3>
          <p>Forex, or foreign exchange, is the international market on which foreign 
              currencies are bought and sold. This market determines the foreign exchange 
              rate for the currencies that are traded on it. Forex is the most heavily traded, 
              most liquid market in the world by a large margin.The need to exchange one currency
              for another is a necessity for international businesses and banks. For this reason,
              large international banks drive most of the trading volume on the Forex market. 
              Retail Forex exists to provide access to the foreign currency markets to individuals,
              but the trades executed by these accounts make up a mere 5.5% of the 
              foreign exchange market.The Forex market is decentralized, meaning there 
              is no central marketplace. Your Forex trades might be routed through Tokyo, 
              New York or London all depending on what time of day the trade is made. 
              This allows Forex to operate 24 hours a day, 5 days a week.</p>
        </div>
      </div>
      <div class="row pb-5 margin-left-4">
        <div class="col-md-8 col-12 animated slideInRight col-sm-9 col-lg-7 col-xl-5">
          <h3 style=" font-size: 1.6em; margin-bottom: 5px; color: #00FF89">What is a Forex Trader?</h3>
          <p>A currency trader, also known as a foreign exchange trader or 
              forex trader, is a person who trades, buys and/or sells currencies
              on the foreign exchange.</p>
        </div>
      </div>
      <div class="row pb-2 margin-left-4">
        <div class="col-md-8 col-12 animated slideInRight  col-sm-9 col-lg-7 col-xl-5">
          <h3 style=" font-size: 1.6em; margin-bottom: 5px; color: #00FF89">Example : </h3>
          <p>EUR/USD rate represents the number of USD one EUR can buy.
              If you think the Euro will increase in value against the US Dollar, 
              you buy Euros with US Dollars. If the exchange rate rises, you sell 
              the Euros back, and you cash in your profit. Please keep in mind 
              that forex trading involves a high risk of loss.</p>
        </div>
      </div>

  
    </div>
    <div class="actions  col-2">
      <div class="row">
   <div class="col-md-12">
    <img class="right-icon notebook" src="/assets/img/Image2.png"  alt="">	
  </div>
 
 </div>		
 <div class="row">
   <div class="col-md-12">
    <a [routerLink]="['/step2/chapter2']"><img class="canhide arrow" src="/assets/img/arrow.png" alt=""></a>
  </div>

 </div>
  <div class="row canide">
       <div class="col-md-12 col-1" style="margin: 0; padding: 0">
         <button class="btn btn-primary forex">FOREX</button>
       </div>
     </div>
     <div class="row canide">
       <div class="col-md-12 col-1"  style="margin: 0; padding: 0">
         <button class="btn btn-primary commodities">Commodities</button>
       </div>
     </div>
     <div class="row canide">
       <div class="col-md-12 col-1 col-lg-12"  style="margin: 0; padding: 0">
         <button class="btn btn-primary crypto">Crypto</button>
       </div>
     </div>
   </div>
  </div>