
<div class="row">
  <div class="col-sm-10 col-lg-10 col-md-10 col-10">
<div class="row">
  <div class="step col-md-4 col-sm-8 offset-sm-2 offset-md-1 offset-lg-0">
    <h1 class="opacity-19 ml-5">Step 3</h1>
  </div>
</div>
    <div class="row tab animated slideInLeft">
  <div class="col-lg-8 col-sm-10 offset-sm-2 offset-lg-0">
    <h4 style="color: white">Download MT4 </h4>
  </div>
  <div class="offset-md-1 col-lg-4 offset-lg-1 col-sm-10 offset-sm-1 col-md-9">
    <p class="">Chapter 2</p>
  </div>
     
    </div>
    <div class="row">
      <div class="col-md-2 animated fadeInDownBig col-sm-3 offset-sm-0 col-4 offset-1 col-lg-1 offset-lg-0"> </div>
      <div class="col-md-8 col-12 animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-xl-5 col-lg-8">
        <p>You can Download The Mt4 App for Free! </p>
        <p>&nbsp;</p>
   <div class="col-4 offset-xs-2 offset-lg-4 col-lg-3"><img style="width: 100px; margin: auto;" src="/assets/img/Image 33.png" alt=""></div>
        <p>MT4 is 100% free, it’s charting system that allows us to analysis where we wish to place an order on the markets, using our funds we deposited in our broker account! No matter where you are you place trades on the go instantly! </p>
        <p>&nbsp;</p>
        <p>MT4 is 100% free, it’s charting system that allows us to analysis where we wish to place an order on the markets, using our funds we deposited in our broker account! <br><br>No matter where you are you place trades on the go instantly! </p>
  <img class="img-fluid" src="/assets/img/Image 31.png" style="width: 500px; margin: auto;" alt="">
      </div>
    </div>	

  <div class="row pt-2">
   <div class="col-md-1 animated fadeInDownBig offset-lg-1 col-sm-3 offset-sm-0 col-4 offset-1 col-lg-1"> </div>
  <div class="col-md-8 col-12 main-actions-bottom animated slideInRight offset-lg-0 offset-sm-0 col-sm-9 col-lg-7 col-xl-5">
  <button class="btn btn-primary trade">Download MT4 IOS</button>
    <button class="btn btn-primary trade">Download MT4 Android</button>
  </div>
</div>
  </div>
  <div class="actions animated fadeInRightBig col-sm-1 col-2 col-md-1 col-xl-1 col-lg-1 offset-md-1">
     <div class="row">
  <div class="col-md-12">
    <img class="right-icon notebook" src="/assets/img/Image2.png"  alt="">	
  </div>

</div>		
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/step4']"><img class="canhide arrow" src="/assets/img/arrow.png" alt=""></a>
  </div>

</div>
 <div class="row canide">
      <div class="col-md-12 col-1">
        <button class="btn btn-primary forex">FOREX</button>
      </div>
    </div>
    <div class="row canide">
      <div class="col-md-12 col-1">
        <button class="btn btn-primary commodities">Commodities</button>
      </div>
    </div>
    <div class="row canide">
      <div class="col-md-12 col-1 col-lg-12">
        <button class="btn btn-primary crypto">Crypto</button>
      </div>
    </div>
  </div>
</div>


