<ng-container *ngIf="(auth.user | async) || {} as user">

  <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">
      
    <h3>New User Signup</h3>
  
    <label for="email">Email</label>
    <input type="email" formControlName="email">

    <div *ngIf="email.invalid && email.dirty">
        Your email doesn't look quite right...
    </div>
  
    <label for="password">Password</label>
    <input type="password" formControlName="password" required>
  
    <div *ngIf="password.invalid && password.touched" >
      Password must be between 6 and 24 chars and have at least one number 
    </div>
  
    <div *ngIf="signupForm.valid" >Form looks good! Let's do this.</div>
  
    <button type="submit" [disabled]="!signupForm.valid">Submit</button>

  </form>
      
      
      
  <form [formGroup]="detailForm" *ngIf="user.uid && (!user.displayName || !user.phone || !user.age || !user.address.city)" (ngSubmit)="setDetails(user)">
    
    <h3>Set your Additional information</h3>
    <label for="name">Name</label>
    <input type="text" formControlName="name">

    <div *ngIf="name.invalid && name.dirty">
      name number is required...
  </div>

    <label for="phone">Phone#</label>
    <input type="text" formControlName="phone">

    <div *ngIf="phone.invalid && phone.dirty">
      Phone number is required...
  </div>
    <label for="age">Age</label>
    <input type="number" formControlName="age">

    <div *ngIf="age.invalid && age.dirty">
      Age is required...
  </div>
  <label for="full_address">Address</label>
  <input type="text" formControlName="full_address">

  <div *ngIf="full_address.invalid && full_address.dirty">
    Address is required...
</div>

<label for="street_name">Street Name</label>
<input type="text" formControlName="street_name">

<div *ngIf="street_name.invalid && street_name.dirty">
  Street is required...
</div>

  <label for="city">City</label>
  <input type="text" formControlName="city">

  <div *ngIf="city.invalid && city.dirty">
    City is required...
</div>

  <label for="country">Country</label>
  <input type="counttry" formControlName="country">

  <div *ngIf="country.invalid && country.dirty">
    Country is required...
</div>

  <div *ngIf="postal.invalid && postal.dirty">
    Postal is required...
</div>
<label for="postal">Postal</label>
<input type="postal" formControlName="postal">

<div *ngIf="postal.invalid && postal.dirty">
  Country is required...
</div>
    <button type="submit" [disabled]="!detailForm.valid">Submit</button>
  </form>

  <p *ngIf="user.phone">
    You are registered..
    We will Activate account soon...
    {{ user | json }} 
  </p>

</ng-container>
