  <div class="row mt-100 mb-5">
    <div class="col-sm-10 col-lg-10 col-md-10 col-10">
  <div class="row">
    <div class="step col-md-4 col-sm-8">
      <h1 class="opacity-19">Step 5</h1>
    </div>
  </div>
      <div class="row tab animated slideInLeft margin-left-4">
    <div class="col-12 ">
      <h3 style="color: white"><strong>
          Join Our Telegram Group
      </strong> </h3>
    </div>
    <div class="col-12">
      <p class="">Chapter 2</p>
    </div>
       
      </div>
      <div class="row pb-5 margin-left-4">
        <div class="col-md-8 col-12 animated slideInRight  col-sm-9 col-lg-7 col-xl-5">
          <p>Our platform is coming soon, we’re still offering signal service 
and you can start recieving real time push notifications  buy simply 
fundung the broker and joining our telergram group.

</p>
    <a href="" class="btn btn-primary btn-lg telegram m-2">Join Our Public  Telegram</a>
        </div>
      </div>
      <div class="row pb-5 margin-left-4">
        <div class="col-md-8 col-12 animated slideInRight col-sm-9 col-lg-7 col-xl-5">
          <h3>What are Signals? </h3>
          <p>Signals are a feature of MT4 that facilitates the copying of trading operations from one account to another. There are many signals featured on the MT4 platform, both free and paid. You can see on the Signals tab of the MT4 interface that signal providers are displayed and sorted in the order of their trading results. Detailed statistics, metrics and graphs are provided for each one. Subscribing to a signal allows that signal to trigger executions on your own account. Some brokers offer signals and some do not. Make sure to check with your broker before you commit any funds if you want to use signals. </p>
        </div>
      </div>
      <div class="row pb-2 margin-left-4">
        <div class="col-md-8 col-12 animated slideInRight  col-sm-9 col-lg-7 col-xl-5">
          <h3 class="text-green">How many pips should I expect to catch monthly? </h3>
          <p>At Pip Roomz, we distribute pips based on your account size, although based on prior performance, you can expect to receive at least 400 pips per month– this may vary, but please know that we do our best to provide great service to you, our valued client.<br>
          </p>
        </div>
      </div>			
    </div>
    <div class="actions  col-2">
      <div class="row">
   <div class="col-md-12">
    <img class="right-icon notebook" src="/assets/img/Image5.png"  alt="">	
  </div>
 
 </div>		
 <div class="row">
   <div class="col-md-12">
    <a [routerLink]="['/']"><img class="canhide arrow" src="/assets/img/arrow.png" alt=""></a>
  </div>

 </div>
  <div class="row canide">
       <div class="col-md-12 col-1" style="margin: 0; padding: 0">
         <button class="btn btn-primary forex">FOREX</button>
       </div>
     </div>
     <div class="row canide">
       <div class="col-md-12 col-1"  style="margin: 0; padding: 0">
         <button class="btn btn-primary commodities">Commodities</button>
       </div>
     </div>
     <div class="row canide">
       <div class="col-md-12 col-1 col-lg-12"  style="margin: 0; padding: 0">
         <button class="btn btn-primary crypto">Crypto</button>
       </div>
     </div>
   </div>
  </div>
 
