<div class="col-md-1 sidebar col-sm-1 animated fadeInLeftBig col-lg-1">
  <a href="#"> <img class="" src="/assets/img/Image1.png" alt="" srcset=""><h4>Step1</h4></a>
  <a href=""><img src="/assets/img/Image2.png" alt="" srcset=""> <h4>Step2</h4></a>
  <a href=""><img src="/assets/img/Image3.png" alt="" srcset=""> <h4>Step3</h4></a>
  <a href=""><img src="/assets/img/Image4.png" alt="" srcset=""><h4>Step4</h4></a>
  <a href=""><img src="/assets/img/Image5.png" alt="" srcset=""><h4>Step5</h4></a>
  <a href=""><img src="/assets/img/Image6.png" alt="" srcset=""> <h4>Step6</h4></a>
</div>
