*{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.logo1{
    background-color: #191919;
    z-index: 9999;
    text-align: center;
    // margin-bottom: 20px;
}
.logo{
 padding-top: 15px;
 width: 90px;
 height: auto;
}
.step {
    position: relative;
    clear: both;
    h1 {
      font-size: 2.5em !important;
    }
}

.telegram {
    background-color: #3FBF98;
    border-radius: 25px;
    border: #707070
}
.telegram:hover {
    background-color: #3FBF98;
}

.main-actions{
//   margin-bottom: 20px;
  background-color: #3C3C3C;
  width: 100%;
  text-align: right;
  button{
      margin: 10px;
      border-radius: 25px;
  }
  .chat, .chat:active:focus{
      background-color: #3FBF98;
      border-color: #3FBF98;
  }
  .trade, .trade:active:focus{
      background-color: #549CC9;
      border-color: #549CC9;
  }
  .webinar, .webinar:active:focus{
      background-color: #877CD9;
      border-color: #877CD9;
  }
}

.broker,.broker:hover .broker:active:focus{
    border-radius: 25px;
    background-color: #549CC9;
    border-color: #549CC9;
}

.broker1,.broker1:hover .broker:active:focus{
    border-radius: 25px;
    background-color: #89BF3F;
    border-color: #89BF3F;
}
.sidebar-logo{
  img{
  width: 800px;
  height: auto;
  background: #3C3C3C;
  border: none;
  margin: 0 auto;
}
}

#style-3::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #3C3C3C;
}

#style-3::-webkit-scrollbar
{
	width: 3px;
    background-color: #3C3C3C;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #3C3C3C;
}

.sidebar{
    z-index: 1;
    padding-top: 80px;
    background-color: #3C3C3C;
    position: fixed;
    top:0;
    bottom:0;
    width:250px;
    overflow-y: scroll;

  img{
      width:80px;
      height: auto;
      padding-top: 15px;
      padding-right: 10px;
      padding-bottom: 10px;
      display: block;
      margin: 0 auto;
  }
  h4{
      color: black;
      opacity: .30;
      font-size: 1.5em;
      text-align: center;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid gray;
      padding-bottom: 5px;
  }
}
.actions {
    // margin: 0;
    // padding: 0;
    z-index: 2;
  img {
      width: 40px;
  }
  .notebook{
      margin-top: 50px;
  }
}
.main-content {
  padding-bottom: 100px;
  position: absolute;
  float: right;

  .margin-left-4 {
    margin-left: 5px;
  }
  h1{
      font-size: 1.5em;
  }
  .row:not(:last-child){
      margin-bottom: 5px;
  }
  .opacity-19{
      opacity: 0.19;
  }
  h3, p{
      color: white;
      margin: 0;
  }
  h3{
      font-size: 1.5em;
      margin-bottom: 5px;
  }
  p {
      font-size: 1.4em;
  } 

  img{
      width: 70px;
      height: auto;
      margin-top: 20px;
      margin-left: 10px;
    float: right;
    }
  
  
  .card-title{
    color: white;
    img{
    width: 70px;
    height: auto;
    margin-top: 20px;
    margin-right: 40px;
    float: none;
    }
}

.card{
   border-radius: 25px;
    border: none;
    h2{
        text-align: center;
        color: #63961D;
    }
    li{
        color: white;
    }
    hr {
        opacity: .28;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #707070;
        margin: 1em 0;
        padding: 0; 
    }
    p {
        font-size: .8em;
    }
}

  .forex-card{
    background: #89BF3F;
    border: black;
    .subscribe, .subscribe:active:focus{
        margin: 10px;
            background-color: #89BF3F;
            border-color: #707070;
            border-radius: 25px;
    }
    .trial, .trial:active:focus{
        background-color: #6FA02B;
        border-color: #707070;
        border-radius: 25px;
    }
}

.crypto-card{
    h2{
        color: #fff;
    }
    background: #3F7ABF;
    .subscribe, .subscribe:active:focus{
        margin: 10px;
            background-color: #3F7ABF;
            border-color: #707070;
            border-radius: 25px;
    }
    .fund-platform, .fund-platform:active:focus{
        background-color: #356CAC;
        border-color: #3F7ABF;
        border-radius: 25px;
    }
}
}

#triangle-bottomright {
  background: url('/assets/img/Path 9.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position:fixed;
 bottom:0;
 width:100%;
 z-index: 1;

 div{
     margin-right: 0;
  //    float: right;
 }

  .row {
      margin: 0;
      padding: 0;
  }

  .stripe {
      margin-top: 60px; float: right;
  }
  .address {
      margin-top: 70px;
      text-align: center
  }
  .follow {
      margin-top: 50px;
      h3{
          text-align: center;
      }
  }
  .rights{
      text-align: right;
      padding: 0
  }
  img{
      width: 100px;
      height: auto;
      margin: 0;
  }
  h3{
      // margin-top: 10px;
     color: #717171;
     font-size: 1em;
  }
  p {
      font-size: .8em;
  }
  .social{
      img{
          margin: 0;
          padding: 0;
          width: 40px;
          height: auto;
          padding: 5px;
      }
  }
}

.right-icon , .arrow{
  float: right;
  width: 80px;
  height: auto;
}
.forex, .forex:active:focus{
  margin-bottom: 15px;
  float: right;
  background-color: #476BCB;
  border-color: #476BCB
}
.commodities, .commodities:active:focus{
  margin-bottom: 15px;
  float: right;
  background-color: #47CB65;
  border-color: #47CB65
}
.crypto, .crypto:active:focus{
  margin-bottom: 15px;
  float: right;
  background-color: #47CBA7;
  border-color: #47CBA7
}


// Extra small devices (portrait phones, less than 34em)
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    app-sidenav {
        width: 100%;
    }
  .logo{
      width: 100%;
      height: auto;
      padding-top: 15px;
  }
  .logo1{
          margin-bottom: 0px;
      img{
          padding: 20px;
          width: 100%;
      }
  }

  .step {
      margin-top: 0px;
      display:inline-block; 
      h1 {
        font-size: 2.5em;
      }
  }
  .tab{
    //   margin-left: 15px;
    //   margin-top: 20px;
  }

.main-actions{
    margin-bottom: 0;
    text-align: center;
  button{
      display: inline;
      font-size: .8em;
    //   width: 110px;
      margin: 5px;
      margin-top: 20px;
  }
}


.sidebar {
    z-index: 1;
    position: relative;
    padding-top: 0;
    width: 100%;
    text-align: center;
    height: 90px;
    overflow: hidden;
  img{
     display: inline;
     width: 60px;
     border: none;
  }
  h4 {
      display: none;
  }
}
.mt-100 {
    margin-top: 100px;
}
.actions{
    z-index: 2;
  img{
      display: block;
      width: 30px !important;
  }
  .arrow, .notebook{
      position: fixed !important;
  }
  .notebook{
      margin-top: 80px;
  }
  .arrow {
      margin-top: 150px;
  }
}
.canide {
  display: none;
}

#triangle-bottomright {
  clear: both;
  background: url('/assets/img/Path-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: .8em;
  position: absolute;
  // bottom:0;
  width:100%;
  z-index: 1;
  }
  .stripe {
      margin-top: 25px; float: right;
  }
  .address {
      margin-top: 0px !important; text-align: right !important;
      float: right;
  font-size: 1.5em !important;
  }

  .follow {
      margin-top: 5px !important;
  }
  .social{
margin-top: 5px;
  padding-bottom: 10px;
  img{
      float: right;
      width: 40px !important;
      display: inline !important;
  }
  h3 {
  font-size: 2em !important;
      text-align: right
  }
  div{
      margin: 0;
      padding: 0;
  }
}
.main-content{
  position: absolute;
  padding-bottom: 250px;
  .margin-left-4 {
    margin-left: 0px;
  }

  img{
      width: 60px;
      height: auto;
      margin-bottom: 10px;
  }
  .card {
      hr {
          margin: .5em 0;
      }
  }
}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .logo{
      height: 100px;
      padding-top: 15px;
  }
  .logo1{
    margin-bottom: 0;
      img{
          padding: 20px;
          width: 100%
      }
  }

.main-actions{
    text-align: center;
  button{
      display: inline;
      font-size: 1em;
      width: 140px;
      margin: 25px;
  }
}
.canhide{
 display: none;
  img{
     display: inline;
     width: 60px;
     border: none;
  }
}
.actions{
    z-index: 2;
  img{
      display: block;
      width: 40px !important;
  }
  .arrow, .notebook{
      position: fixed !important;
  }
  .notebook{
      margin-top: 5px;
  }
  .arrow {
      margin-top: 100px;
  }
}
.sidebar {
    z-index: 1;
  img{
      // width: 90px;
  }
}
.forex {
  display: none;
}
.commodities {
  display: none;
}
.crypto {
  display: none;
}

#triangle-bottomright {
  background: url('/assets/img/Path-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: .8em;
  z-index: 1;
  }
  .stripe {
      margin-top: 25px; float: left;
  }
  .address {
      margin-top: 40px; text-align: center;
  }
  .social{
  img{
      margin: 0;
      padding: 0;
      width: 40px !important;
      display: inline !important;
  }
}
.main-content{
  position: absolute;
  img{
      width: 60px;
      height: auto;
      margin-bottom: 10px;
  }
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .logo{
      height: 200px;
      padding-top: 15px;
  }
  .logo1{
    margin-bottom: 0;
      img{
          padding: 20px;
          width: 100%
      }
  }

.main-actions{
  button{
      display: inline;
      font-size: 1em;
      width: 140px;
      margin: 25px;
  }
}
.sidebar{
    z-index: 1;
  display: inline;
// position: relative;
padding-top: 0;
width: 100%;

  img{
     display: inline;
     width: 60px;
     border: none;
  }
}
.actions{
    z-index: 2;
  img{
      display: block;
      width: 40px !important;
  }
  .arrow, .notebook{
      float: right;
      position: fixed;
  }
  .notebook{
      margin-top: 5px;
  }
  .arrow {
      margin-top: 100px;
  }
}
.sidebar {
    z-index: 1;
  img{
      // width: 90px;
  }
}
.forex {
  display: none;
}
.commodities {
  display: none;
}
.crypto {
  display: none;
}

#triangle-bottomright {
  background: url('/assets/img/Path-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: .8em;
  z-index: 1;
  }
  .stripe {
      margin-top: 25px; float: left;
  }
  .address {
      margin-top: 40px; text-align: center;
  }
  .social{
  img{
      margin: 0;
      padding: 0;
      width: 40px !important;
      display: inline !important;
  }
}
.main-content{
  position: absolute;
  img{
      width: 60px;
      height: auto;
      margin-bottom: 10px;
  }
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
.logo{
      padding-top: 15px;
  }
  .logo1{
    margin-bottom: 20px;
      img{
          // padding: 20px;
          margin-top: 18px;
          width: 100%
      }
  }

.main-actions{
  button{
      display: inline;
      font-size: 1em;
      width: 140px;
      margin: 25px;
      text-align: center;
  }
}
.sidebar{
    z-index: 1;
    display: inline;
  padding-top: 0;
  width: 100%;
  
    img{
       display: inline;
       width: 60px;
       border: none;
    }
  }
.actions{
    z-index: 2;
  img{
      display: block;
      width: 40px !important;
  }
  .arrow, .notebook{
      float: right;
      position: fixed;
  }
  .notebook{
      margin-top: 20px;
  }
  .arrow {
      margin-top: 100px;
  }
}
.sidebar {
    z-index: 1;
  img{
      // width: 90px;
  }
}
.forex {
  display: none;
}
.commodities {
  display: none;
}
.crypto {
  display: none;
}

#triangle-bottomright {
  background: url('/assets/img/Path-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: .8em;
  z-index: 1;
  }
  .stripe {
      margin-top: 25px; float: left;
  }
  .address {
      margin-top: 40px; text-align: center;
  }
  .social{
  img{
      margin: 0;
      padding: 0;
      width: 40px !important;
      display: inline !important;
  }
}
.main-content{
  img{
      width: 60px;
      height: auto;
      margin-bottom: 10px;
  }
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body{
      // max-width:2000px;margin-left:auto ;margin-right:auto
  }
}
